@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Poppins:wght@200;400;500;800&family=Roboto:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.text {
  font-family: Poppins;
}

.image-text {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-links {
  padding-left: 0px;
}

.background-gradient {
  background: linear-gradient(45deg, #bb87fa, #675afe);
  height: 55px;
  width: 60px;
  border-radius: 7px;
}

.view-buku,
.view-pinjaman,
.view-siswa {
  padding-left: 100px;
  padding-right: 75px;
  width: 100%;
}

.view-pinjaman,
.view-siswa {
  margin-top: 70px;
}

.content-table {
  width: 100%;
}

th {
  /* text-align: center; */
}

.card {
  border: none;
}

.icon_dashboard {
  height: 35px;
  width: auto;
}

.background-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .view-buku,
  .view-pinjaman,
  .view-siswa {
    padding-left: 30px;
    padding-right: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .view-buku,
  .view-pinjaman,
  .view-siswa {
    padding-left: 20px;
    padding-right: 5px;
    width: 100%;
  }
}
